/* hwk5 css
	Evan Johnston
	2014 */ 

html{
 background-color: black;
 color: #FFFFE6;
}

h1{
 font-family: Copperplate Gothic Light, serif; 
 text-align: center;
 letter-spacing: 10px;
 text-decoration: underline;
 font-size: 50px;
}

figure{
 margin: 10px;
 padding: 10px;
 border: 20px double #FFFFE6;
 position: absolute;
 left:15%; 
}

figcaption{
 border-top: 2px solid #FFFFE6;
 margin: 2px;
 padding: 2px;
 font-family: Verdana, sans-serif;
 font-size: 18px;
 text-align: center;
}

